<div
  class="flex flex-col container mx-auto px-20 md:px-72 items-center justify-center my-12 md:my-24"
>
  <h2 class="text-2xl md:text-7xl text-center">
    Search and retrieve from what
  </h2>
  <h2 class="text-2xl md:text-7xl text-center mb-8 md:mb-12">was said</h2>
  <p class="text-xl md:text-2xl text-center">
    Search, interact, and find the information you need from your AI memory
    capsule. We focus on AI, so you can focus on results.
  </p>
</div>
<div class="mt-8 md:mt-12 px-20 md:px-64">
  <video
    loop
    playsinline
    webkit-playsinline
    autoplay
    muted
    class="block w-full h-auto object-cover relative z-10 my-40 rounded-[12.5rem]"
    data-pc-video="//www.plaud.ai/cdn/shop/videos/c/vp/95b5697f00334a0e9b549b9ec6a0a15c/95b5697f00334a0e9b549b9ec6a0a15c.HD-1080p-2.5Mbps-33782730.mp4?v=0"
    data-mob-video="//www.plaud.ai/cdn/shop/videos/c/vp/95b5697f00334a0e9b549b9ec6a0a15c/95b5697f00334a0e9b549b9ec6a0a15c.HD-1080p-2.5Mbps-33782730.mp4?v=0"
    data-autoplay="true"
    src="//www.plaud.ai/cdn/shop/videos/c/vp/29095b6e6af34330b92b84ed8d28dbfb/29095b6e6af34330b92b84ed8d28dbfb.HD-1080p-4.8Mbps-33782735.mp4?v=0"
  >
  </video>
</div>
